*{
    font-family: sans-serif;
    animation: fadeIn 1s ease-in-out;
    /* border: 1px solid black; */
}


.container{
width: 35vw;
margin: auto;

}

h1{
    text-align: center;
    margin: 150px auto;
    width: 50vw;
    font-weight: 400;
    font-size: 1.5em;
}
a{
    text-decoration: none;
    color: #6575FF;
    font-style: oblique;
    font-size: 0.8em;
}

#btn{
    width: 100%;
    margin-top: -100px;
    border-radius: 80px;
    border: none;
    background-color: #6575FF;
    color: white;
    font-weight: 600;
    padding: 1em 2em;
    font-size: 1.8em;
    -webkit-box-shadow: 0px 5px 33px 3px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 5px 33px 3px rgba(0,0,0,0.14);
    box-shadow: 0px 5px 33px 3px rgba(0,0,0,0.14);

}
#btn:hover{
    opacity: 75%;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#btn:active{
    opacity: 10%; 
    transform: scale(0.9);
    transition: 0.1s ease-in-out;
}


.animal-info{
    margin-top: 50px;
    margin-bottom: 250px;
}

p{
    font-size: 1.5em;
    width: 35vw;
    color: #383838;
    background-color: #F6F5FB;
    padding: 30px 70px 30px 35px;
    margin: 30px auto;
    text-align: center;
    font-weight: 300;
    border-radius: 5px;

    
}

p:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

img{
    width: 150px;
    border-radius: 150px;
    display: block;
    margin: 20px auto;

}

@keyframes fadeIn{
  0%{
    opacity: 0%;
  } 
  100%{
    opacity: 100%;
  } 
}