*{
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 200;
}
button{
  border-radius: 500px;
  padding: 30px;
  border: none;
  color: #1f1f1f;
  margin: 12vw auto;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0px 5px 33px 3px rgba(0,0,0,0.14);
-moz-box-shadow: 0px 5px 33px 3px rgba(0,0,0,0.14);
box-shadow: 0px 5px 33px 3px rgba(0,0,0,0.14);
}

button:hover{
  opacity: 50%;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

button:active{
 opacity: 10%; 
 transform: scale(0.9);
 transition: 0.1s ease-in-out;
}

.container{
width: 15vw;
margin: auto;
}
p{
  margin-top: 500px;
  margin: auto;
  font-size: 1em;
  text-align: center;
}

.containerMain{
  width: 50vw;
  margin: auto;

}